* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 40px;
    background-color: royalblue;
    color: rgb(255, 255, 255);
    line-height: 1.25;
    letter-spacing: 2px;
}

h1 {
    font-size: 50px;
    padding-bottom: 30px;
    color: rgb(240, 205, 6);
    text-decoration: underline;
}

p {
    padding-bottom: 10px;
}

.rules-page {
    font-size: 50px;
    font-weight: bolder;
}

.rules-page p {
    font-size: 30px;
}

#start-btn {
    background-color: rgb(11, 193, 248);
    color:rgb(22, 20, 156);
}

.container {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
}

.btn:hover {
    cursor: pointer;
}

#highScoresText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 10%;
}

#viewHighScore {
    font-size: 25px;
    color: rgb(240, 205, 6);
}

#start {
    justify-content: center;
}

#questionTitle {
    font-size: 40px;
    padding-bottom: 50px;
}

.options {
    font-size: 30px;
}

#userInitials {
    background-color: beige;
    color: black;
}